<html>
  <head>
    <link rel="stylesheet" href="mystyle.css">
    <title>The main page of web servers</title>
  </head>
  <body style="background-color:#D3D3D3">
  <h1>The main page of web servers in the {{ .Values.env.name }} environment</h1>
  <div class="btn-group1">
    <a href="/httpd/">
      <button><h1>Apache2 web server</h1></button>
    </a>
  </div>
  <br></br>
  <div class="btn-group2">
    <a href="/tomcat/">
      <button><h1>Tomcat web server</h1></button>
    </a>
  </div>
    <br></br>
  <object data="version.html" width="300" height="200"></object>
</body>
</html>
