<html>
<body style="background-color:#D3D3D3">
  <head>
    <link rel="stylesheet" href="mystyle.css">
    <title>Apache2 web Server</title>
  </head>
  <h1>Apache2 web server in the {{ .Values.env.name }} environment</h1>
  <br></br>
<object data="version.html" width="300" height="200"></object>
</body>
</html>
